page-home {
    ion-navbar ion-icon{
        padding-right:0.5rem;
    }
    
    input[type=text]{
        //border-radius: 5px 5px 5px 5px solid blue;
        height: 3rem;
        padding:0px;
        box-shadow: 5px 5px 3px #000;
        background-color:#fff;
    }
    
    ion-item  ion-icon{
        color:red;
        margin:0.8rem 0.5rem 0 0;
    }

    
    h4 {
        color: #fff;
        text-shadow: #000 1px 1px 1px ;
        //text-align: center;
        font-size:14px;
        padding-top: 8px; 
        padding-left: 15px;
        padding-bottom: 8px;
    }

    .card-background-page {
        background: linear-gradient(to right, #200122, #6f0000);
        
          ion-card {
            position: relative;
            text-align: center;
            padding: 0;
            margin: 0;
          }

          card-md {
            width: 100% !important;
          }

          ion-card img {
            opacity: 0.94;
          }

          .imagencard {
              width: 100% !important;
              height: 200px !important;
              max-height: 200px !important;
          }
        
          .card-title {
            position: absolute;
            top: 36%;
            font-size: 1.2em;
            width: 100%;
            font-weight: bold;
            color: #fff;
            text-shadow: #000 0px 3px 2px !important;
          }
        
          .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
          }
        
        }
}
