<ion-header>
  <ion-navbar color="interior">
     <ion-title>Buscador</ion-title>
     <ion-buttons end>
      <button ion-button (click)="allMuseumMap()">
      <ion-icon ios="ios-pin" md="md-pin"></ion-icon> Ver Mapa General</button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  
    <!--<ion-input padding type="text" placeholder="  Buscar por lugar..." (input)="searchMaps($event)"></ion-input>-->
    <h4>Usted Podra Buscar acorde de manera exacta</h4>

  <!--<ion-list padding-horizontal>
    <ion-item *ngFor="let museum of museumList" (click)="itemTapped(museum)">
      <h2><ion-icon ios="ios-pin" md="md-pin"></ion-icon>{{museum.name}}</h2>
      <p>{{museum.note}}</p>
      <img [src]="museum.imagenuno">
    </ion-item>
  </ion-list>-->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Arrastrar abajo"
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let museum of museumList">
        <ion-card (click)="itemTapped(museum)">
          <img [src]="museum.imagenuno" class="imagencard"/>
          <div class="card-title">{{ museum.name }}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
